.hidden {
    display: none;
}

.show {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.my-modal-content {
    width: 40%;
    height: 300px;
    margin: 15% auto;
    background-color: white;
    border-radius: 4px;
}

#icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    bottom: 5%;
    left: 98%;
    width: 25px;
    height: 25px;
    font-size: 30px;
    background-color: white;
}

#add-cart-img {
    height: 60px;
    width: 70px;
    margin-right: 10px;
}

.add-cart-container {
    display: flex;
    align-items: center;
    margin: 40px 20px;
    justify-content: space-between;
}

#price {
    margin-bottom: 4px;
}

#quantity {
    width: 4vw;
    margin-left: 5px;
}

.add-cart-form {
    display: flex;
    margin: 0 20px;
    align-items: center;
    justify-content: space-between;
}

.quantity-container {
    display: flex;
    align-items: center;
}