 

 
 img {
     width: 95%;
     height: 193px;
     object-fit: scale-down;
 }

 .img-container {
     border-bottom: 1px solid black;
     text-align: center;
     padding: 20px 0
 }

 .prod-info-container {
     margin: 20px 0;
 }