.myNavbarStyles {
    background-color: #323031;
    
}

#titleText {
    color: white;
    font-size: 30px;

}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 35px;
    margin: 5px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
