.header {
    border-bottom: 1px solid #DAD8D8;
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    height: 30px;
    width: 30vw;
    
}

.search-btn {
    background-color: #7F7F7F;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
}

.main-content {
    margin: 10px 20px;

}

h1 {
    color: 7F7F7F;
    
}