.cart-img {
    height: 80px;
    width: 100px;
    object-fit: scale-down;
}

.cart-Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.item-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete {
    margin-left: 20px;
    color: #0266C0;

}

.edit {
    margin-left: 20px;
    color: #0266C0;

}

.cart-item-options {
    display: flex;
}

.cart-item-container {
    padding: 20px 20px;
    border-bottom: 1px solid #DFDFDF
}

.item-title {
    margin: 0 20px
}

.price-quantity-container {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: 0
}